.app {
  display: flex;
  flex-direction: column;
  height: 100vh; /* 브라우저 전체 높이 */
}

.main-content {
  flex: 1;
  overflow-y: auto;
  height: 100%; /* ✅ 캘린더 세로 늘어나게 */
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
